/* Estilo global */
body {
  background: #182c88;
  margin: 0;
  font-family: Arial, sans-serif;
}
.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
#galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espacio entre las imágenes */
}

.gallery-item {
  width: 200px; /* Ancho deseado de cada elemento de la galería */
  margin-bottom: 10px; /* Margen inferior entre los elementos */
}

.img-container {
  overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
  position: relative; /* Posicionamiento relativo para los elementos */
  border: 1px solid #ddd; /* Borde gris claro alrededor de la imagen */
}

.img-container img {
  display: block; /* Asegura que la imagen sea un bloque */
  width: 100%; /* La imagen ocupa todo el contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  transition: transform 0.3s ease; /* Transición suave para efecto de agrandar */
}

.img-container.enlarged img {
  transform: scale(1.2); /* Efecto de agrandar la imagen al hacer clic */
}
