body {
  background: #182c88;
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos de la galería */
}

.gallery-item {
  margin: 5px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}


.img-container.enlarged img {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  z-index: 99;
}

/* Efecto de zoom al pasar el ratón sobre la imagen */
.gallery-item:hover img {
  transform: scale(1.2);
}

/* Estilo del botón de salida */
.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

/* Contenedor */
.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Ajuste para pantallas más pequeñas */
}

.texto {
  flex: 1;
  padding: 30px;
}

.imagenes {
  display: flex;
  flex-wrap: wrap; /* Ajuste para pantallas más pequeñas */
  justify-content: space-around;
  flex: 1;
}

.imagenes img {
  max-width: 100%; /* Cambiado para ajustar automáticamente al tamaño del contenedor */
  height: auto;
  margin-bottom: 10px; /* Añadido margen inferior para separar las imágenes */
}
